<% if flash[:errors] %>
  <ul class="flash">
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="page">
  <div class="zip_code_query">
    <h1>Rain Fall</h1>

    <form  action="/location/" method="get">
      <input class="form-input" type="text" name="zip_code" placeholder="Zip Code (US only)">
      <br>
      <input class="form-button" type="submit" value="See Rainfall!">
    </form>
  </div>
</div>
