// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
th, td {
    padding: 15px;
}

h1{
  font-size: 60px;
  text-align: center;
}

ol, ul {
	list-style: none;
  color: red;
}

.flash {
  font-size: 40px;
  text-align: center;
}

input.form-input {
  font-size: 50px;
  text-align: center;

}

form > input {
  margin-bottom: 20px;
}

form {
  text-align: center;
}

input.form-button {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
}


.zip_code_query {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}
